# /etc/systemd/user/rclone_vfs_refresh@.service
[Unit]
Description=Rclone VFS Refresh of users remote %i - Service
Requires=rclone@%i.service
After=rclone@%i.service

[Service]
Type=oneshot

#Default arguments for rclone mount. Can be overridden in the environment file
Environment=RCLONE_CONFIG="%h/.config/rclone/rclone.conf"
Environment=RCLONE_LOG_LEVEL="NOTICE"
Environment=RCLONE_RC_ADDR="localhost:5572"
Environment=RCLONE_TIMEOUT="5m0s"

#Overwrite default environment settings with settings from the file if present
EnvironmentFile=-%h/.config/rclone/%i.env

#Check that rclone is installed
ExecStartPre=/usr/bin/test -x /usr/bin/rclone

#Check the rclone configuration file
ExecStartPre=/usr/bin/test -f "${RCLONE_CONFIG}"
ExecStartPre=/usr/bin/test -r "${RCLONE_CONFIG}"
ExecStartPre=/usr/bin/test ! -z "$(/usr/bin/rclone --config=${RCLONE_CONFIG} listremotes | /usr/bin/wc -l | /usr/bin/tr -d 0 )"

#Refresh rclone vfs
ExecStart=/usr/bin/rclone rc vfs/refresh \
            recursive=true \
            --syslog \
            --config="${RCLONE_CONFIG}" \
            --log-level="${RCLONE_LOG_LEVEL}" \
            --rc-addr="${RCLONE_RC_ADDR}" \
            --timeout="${RCLONE_TIMEOUT}"

[Install]
WantedBy=default.target
