# /etc/systemd/system/rclone_vfs.service
[Unit]
Description=Rclone VFS Mount
After=network-online.target

[Service]
User=1000
Group=1000
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/bin/bash -c "\
    while IFS= read -r line; do \
        /bin/mkdir -p \"/mnt/remote/rclone.$${line%%:}\" && \
        /usr/bin/rclone mount \
            --allow-non-empty \
            --allow-other \
            --buffer-size=64M \
            --dir-cache-time=168h \
            --drive-chunk-size=64M \
            --drive-skip-gdocs \
            --fast-list \
            --syslog \
            --timeout=10m \
            --umask=002 \
            --vfs-read-chunk-size-limit=2048M \
            --vfs-read-chunk-size=64M \
            -v \
            \"$${line}\" \
            \"/mnt/remote/rclone.$${line%%:}\" || true & \
    done < <(/usr/bin/rclone listremotes) && \
    rclone rcd &"
ExecStop=/bin/umount /mnt/remote/rclone.*
RemainAfterExit=yes

[Install]
WantedBy=default.target
